<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.graylog2.log4j2">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
        
    </Appenders>
    <Loggers>
        <Logger name="Selenium" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="gelf"/>
        </Logger>
        <Root level="error"  additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="gelf"  />
        </Root>
    </Loggers>
</Configuration>